header {
	background-color: rgb(86, 78, 133);
}

.header-content {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	align-items: center;
	.header-btn-container {
		display: flex;
		gap: 10px;
	}
}
