.diagram {
	display: flex;
	height: 500px;
	margin-top: 10px;
	justify-content: center;
}

@media (max-width: 430px) {
	.diagram {
		height: 400px;
	}
}

@media (max-width: 360px) {
	.diagram {
		height: 300px;
	}
}
