.modalInfo-btn {
	display: flex;
	justify-content: center;
	font-size: 17px;
}
.modalInfo-title-cont {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	.modalInfo-title-img {
		width: 50px;
	}
	.modalInfo-title {
		font-size: 35px;
		margin-left: 10px;
	}
}

p {
	margin-bottom: 10px;
	font-size: 17px;
}
