.container {
	margin: 0 130px;
	padding: 0 20px;
}

main {
	display: flex;
	.main-coin {
		width: 100%;
	}
}

@media (max-width: 1596px) {
	main {
		flex-wrap: wrap;
	}
}

@media (max-width: 738px) {
	.container {
		margin: 0 10px;
		padding: 0 5px;
	}
	.main-TrackCoin {
		margin: 0 auto;
	}
}
